html, body {
  font-family: Jost;
  background-color: #efefef;
}
header {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: purple;
    margin: 2rem 2rem;
    padding: 1rem;
  }
header h1 {
  margin: 0rem;
  filter: drop-shadow(1px 1px 3px black);
}
section#app div h1 {
    margin: 0rem;
    font-size: 30px
}
section#app > div {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    background-color: white;
    margin: 2rem 2rem;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem
  }
  section#app > div > div {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
      rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
      width: 90%;
      text-align: center;
      color: black;
  }
  section#app div hr {
    width: 100%;
    height: 0.5rem;
    margin: 0rem;
    background-color: #cbcbcb;
    border-radius: 5px;
    border: none;
  }
  section#app div button {
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 7px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    background-color: #e96179;
    color: white;
    border: none;
    padding: 0.8rem 4rem;
    margin: 1rem 0rem;
  }
  section#app div button:hover {
    background-color: #a93a4e;
    transition-duration: 500ms;
    cursor: pointer
  }